/* line 1, ../sass/_reset.scss */
*, html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_reset.scss */
html {
  color: #000;
  background: #FFF;
}

/* line 12, ../sass/_reset.scss */
body, div, ul, li, h1, h2, h3, input, p, th, td, figure, figcaption {
  margin: 0;
  padding: 0;
}

/* line 17, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 22, ../sass/_reset.scss */
img {
  border: 0;
}

/* line 26, ../sass/_reset.scss */
th {
  font-style: normal;
  font-weight: normal;
}

/* line 31, ../sass/_reset.scss */
ul, li {
  list-style: none;
}

/* line 35, ../sass/_reset.scss */
h1, h2, h3 {
  font-size: 100%;
  font-weight: normal;
}

/* line 40, ../sass/_reset.scss */
input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 14, ../sass/style.scss */
header #nav ul, #flex {
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

/* line 22, ../sass/style.scss */
.border {
  border: thin solid grey;
  border-radius: 2px;
}

/* line 27, ../sass/style.scss */
.center, #tabs-4 img, #woodworking img, #tabs-2, .contact-info, #tabs-3 #gallery1 ul, #tabs-3 #gallery2 ul, #tabs-3 #gallery1 ul li, #tabs-3 #gallery2 ul li, #tabs-3 #gallery1 ul figure img, #tabs-3 #gallery2 ul figure img {
  margin-left: auto;
  margin-right: auto;
}

/* line 32, ../sass/style.scss */
.width-90 {
  width: 90%;
}

/* line 36, ../sass/style.scss */
.width-75 {
  width: 75%;
}

/* line 40, ../sass/style.scss */
.width-50, #tabs-1 #image {
  width: 50%;
}

/* line 44, ../sass/style.scss */
.left {
  float: left;
}

/* line 48, ../sass/style.scss */
.right, #tabs-1 #image {
  float: right;
}

/* line 52, ../sass/style.scss */
.break {
  clear: both;
}

/* line 57, ../sass/style.scss */
body {
  background-color: whitesmoke;
}

/* line 61, ../sass/style.scss */
#tabs, footer {
  font-family: cursive, sans-serif;
}

/* line 66, ../sass/style.scss */
.bold {
  font-weight: 700;
}

/* line 70, ../sass/style.scss */
.s-bold {
  font-weight: 600;
}

/* line 74, ../sass/style.scss */
.padding-top-10, p + p, #tabs-1 #image {
  padding-top: 10px;
}

/* line 78, ../sass/style.scss */
.padding-top-5 {
  padding-top: 5px;
}

/* line 82, ../sass/style.scss */
.padding-bottom-10, .break, header li {
  padding-bottom: 10px;
}

/* line 1, ../sass/_header.scss */
header {
  width: 100%;
}
/* line 3, ../sass/_header.scss */
header h1 {
  font-family: "Oswald", sans-serif;
  font-size: 27px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 850px) {
  /* line 3, ../sass/_header.scss */
  header h1 {
    text-align: center;
  }
}
@media (max-width: 900px) {
  /* line 3, ../sass/_header.scss */
  header h1 {
    font-size: 26px;
  }
}
@media (max-width: 330px) {
  /* line 3, ../sass/_header.scss */
  header h1 {
    font-size: 22px;
  }
  /* line 15, ../sass/_header.scss */
  header h1 #name {
    display: none;
    width: 90%;
  }
}
@media (max-width: 330px) {
  /* line 21, ../sass/_header.scss */
  header h1:before {
    content: "C.W.";
    font-size: 22px;
  }
}
/* line 29, ../sass/_header.scss */
header li {
  padding-top: 10px;
  float: left;
  text-align: center;
}
/* line 31, ../sass/_header.scss */
header li:first-child {
  padding-left: 12px;
}
@media (max-width: 350px) {
  /* line 29, ../sass/_header.scss */
  header li {
    display: block;
    float: none;
    width: 100%;
    padding-bottom: 0;
  }
}
/* line 46, ../sass/_header.scss */
header li + li {
  padding-left: 12px;
}
@media (max-width: 400px) {
  /* line 46, ../sass/_header.scss */
  header li + li {
    padding-left: 6px;
  }
}
@media (max-width: 350px) {
  /* line 46, ../sass/_header.scss */
  header li + li {
    padding-left: 12px;
  }
}
/* line 56, ../sass/_header.scss */
header a {
  padding-bottom: 5px;
  padding-top: 5px;
  text-decoration: none;
  border: thin solid grey;
  border-radius: 2px;
  background-color: orange;
  padding: 5px;
}
@media (max-width: 350px) and (min-width: 200px) {
  /* line 56, ../sass/_header.scss */
  header a {
    display: block;
    float: none;
    width: 200px;
  }
}
/* line 72, ../sass/_header.scss */
header a:hover, header a:active {
  color: red;
}
/* line 76, ../sass/_header.scss */
header #header {
  float: left;
  order: 1;
  flex-grow: 2;
  align-self: center;
}
/* line 83, ../sass/_header.scss */
header #nav {
  float: right;
  order: 2;
  align-self: center;
}
/* line 88, ../sass/_header.scss */
header #nav ul {
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: 350px) {
  /* line 88, ../sass/_header.scss */
  header #nav ul {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 850px) {
  /* line 103, ../sass/_header.scss */
  header #header, header #nav {
    float: none;
  }
}

/* line 109, ../sass/_header.scss */
#flex {
  height: 100%;
  display: flex;
}
@media (max-width: 850px) {
  /* line 109, ../sass/_header.scss */
  #flex {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* line 1, ../sass/_tabs.scss */
#tabs {
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
}

/* line 9, ../sass/_tabs.scss */
#text {
  padding-right: 7px;
}
@media (max-width: 550px) {
  /* line 9, ../sass/_tabs.scss */
  #text {
    clear: both;
    width: 100%;
  }
}
/* line 15, ../sass/_tabs.scss */
#text #first {
  padding-left: 8px;
}

/* line 23, ../sass/_tabs.scss */
#tabs-4 img {
  padding-top: 7px;
}

/* line 30, ../sass/_tabs.scss */
#tabs-4 img, #woodworking img {
  display: block;
}

@media (max-width: 550px) {
  /* line 36, ../sass/_tabs.scss */
  #woodworking img {
    width: 85%;
  }
}
@media (max-width: 400px) {
  /* line 36, ../sass/_tabs.scss */
  #woodworking img {
    width: 82%;
  }
}
@media (max-width: 300px) {
  /* line 36, ../sass/_tabs.scss */
  #woodworking img {
    width: 80%;
  }
}

/* line 50, ../sass/_tabs.scss */
#seriousFun {
  padding-left: 15px;
  padding-top: 0px;
}

/* line 56, ../sass/_tabs.scss */
#tabs-1 #hidden, #tabs-1 #hidden-1 {
  width: 0;
  height: 0;
}

/* line 61, ../sass/_tabs.scss */
#tabs-1 {
  padding: 10px;
  font-size: 15px;
  margin-top: 7px;
  padding-top: 10px;
}
/* line 63, ../sass/_tabs.scss */
#tabs-1 #quoteName {
  margin-right: 45px;
}
/* line 73, ../sass/_tabs.scss */
#tabs-1 #image img {
  width: 95%;
}
@media (max-width: 550px) {
  /* line 69, ../sass/_tabs.scss */
  #tabs-1 #image {
    width: 90%;
  }
}
/* line 80, ../sass/_tabs.scss */
#tabs-1 #comissionText {
  font-weight: bold;
}
@media (max-width: 1000px) {
  /* line 83, ../sass/_tabs.scss */
  #tabs-1 #hidden {
    width: 95%;
    height: 50%;
  }
}
@media (max-width: 700px) {
  /* line 91, ../sass/_tabs.scss */
  #tabs-1 #hidden-1 {
    width: 95%;
    height: 50%;
  }
}
@media (max-width: 550px) {
  /* line 91, ../sass/_tabs.scss */
  #tabs-1 #hidden-1 {
    display: none;
  }
}
/* line 107, ../sass/_tabs.scss */
#tabs-1 #remainingText {
  padding-left: 15px;
  padding-right: 45px;
}
/* line 111, ../sass/_tabs.scss */
#tabs-1 #welcome {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  text-decoration: underline;
}
/* line 120, ../sass/_tabs.scss */
#tabs-1 div + p {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 124, ../sass/_tabs.scss */
#tabs-1 p:first-child {
  padding-bottom: 10px;
}
/* line 127, ../sass/_tabs.scss */
#tabs-1 p + p {
  padding-bottom: 10px;
}

/* line 132, ../sass/_tabs.scss */
#tabs-4, #tabs-1, #tabs-3, #tabs-2 {
  background-color: #e7e7e7;
}

/* line 142, ../sass/_tabs.scss */
#tabs-2 {
  width: 350px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 15px;
  text-align: center;
}
@media (max-width: 400px) {
  /* line 142, ../sass/_tabs.scss */
  #tabs-2 {
    font-size: 15px;
    width: 90%;
  }
}

/* line 1, ../sass/_footer.scss */
footer {
  padding: 0;
  margin: 0;
  padding-top: 14px;
  padding: 12px;
  margin-top: 7px;
  text-align: center;
}
/* line 8, ../sass/_footer.scss */
footer a[href^="mailto"] {
  padding: 2px 3px 2px 2px;
  border: thin solid lightgrey;
  border-radius: 2px;
}
/* line 14, ../sass/_footer.scss */
footer a[href^="mailto"]:hover, footer a[href^="mailto"]:hover:after {
  color: green;
}
/* line 23, ../sass/_footer.scss */
footer span {
  padding: 0;
  margin: 0;
  background-color: grey;
  color: white;
  padding-bottom: 3px !important;
  text-align: center;
}
/* line 33, ../sass/_footer.scss */
footer #email {
  padding: 0;
  margin: 0;
  border: thin solid grey;
  border-radius: 2px;
  padding: 2px;
}

/* line 42, ../sass/_footer.scss */
footer a[href^="mailto"], #contactEmail #repEmail a[href^="mailto"] {
  text-decoration: none;
  font-weight: 500;
  background-color: #D3D3D3;
}

@media (max-width: 330px) {
  /* line 51, ../sass/_footer.scss */
  #contactEmail #origEmail {
    display: none;
  }
}
/* line 56, ../sass/_footer.scss */
#contactEmail #repEmail {
  display: none;
}
/* line 61, ../sass/_footer.scss */
#contactEmail #repEmail a[href^="mailto"]:hover, #contactEmail #repEmail a[href^="mailto"]:hover:after {
  color: green;
}
@media (max-width: 330px) {
  /* line 56, ../sass/_footer.scss */
  #contactEmail #repEmail {
    display: block;
  }
}

/* line 1, ../sass/_contact.scss */
.contact-info {
  padding-top: 7px;
  border: thick solid orange;
  margin-top: 7px;
  background-color: #D3D3D3;
  padding: 2px 3px 2px 2px;
  border: thin solid orange;
  border-radius: 2px;
  width: 320px;
}
@media (max-width: 400px) {
  /* line 1, ../sass/_contact.scss */
  .contact-info {
    width: 95%;
  }
}
/* line 17, ../sass/_contact.scss */
.contact-info p {
  padding: 0;
  margin: 0;
}
/* line 22, ../sass/_contact.scss */
.contact-info .header {
  padding: 0;
  margin: 0;
  border: thin solid grey;
  border-radius: 2px;
  padding: 3px;
  background-color: orange;
  width: 95px;
  text-align: center;
  display: inline-block;
  font-variant: normal;
  font-weight: 900;
  font-size: 15px;
}
@media (max-width: 400px) {
  /* line 22, ../sass/_contact.scss */
  .contact-info .header {
    padding-left: 12px;
  }
}
/* line 40, ../sass/_contact.scss */
.contact-info .info {
  font-stretch: condensed;
}
@media (max-width: 600px) {
  /* line 40, ../sass/_contact.scss */
  .contact-info .info {
    padding-left: 40px;
  }
}
@media (max-width: 500px) {
  /* line 40, ../sass/_contact.scss */
  .contact-info .info {
    padding-left: 35px;
  }
}
@media (max-width: 400px) {
  /* line 40, ../sass/_contact.scss */
  .contact-info .info {
    padding-left: 10px;
  }
}
@media (max-width: 300px) {
  /* line 40, ../sass/_contact.scss */
  .contact-info .info {
    padding-left: 0;
  }
}

/* line 67, ../sass/_contact.scss */
.contact-info:last-child {
  margin-bottom: 7px;
}

/* line 3, ../sass/_about.scss */
#aboutMe h2 {
  text-align: center;
}

/* line 8, ../sass/_about.scss */
#tabs-4 {
  padding-bottom: 7px;
}
/* line 9, ../sass/_about.scss */
#tabs-4 img {
  padding-bottom: 10px;
}
@media (max-width: 300px) {
  /* line 9, ../sass/_about.scss */
  #tabs-4 img {
    width: 90%;
  }
}
/* line 16, ../sass/_about.scss */
#tabs-4 #headerAbout {
  text-align: center;
}

/* line 12, ../sass/_figure.scss */
#tabs-3 #gallery1 ul, #tabs-3 #gallery2 ul {
  width: 100%;
}
/* line 15, ../sass/_figure.scss */
#tabs-3 #gallery1 ul li, #tabs-3 #gallery2 ul li {
  padding: 6px;
  margin: 6px;
  width: 95%;
}
/* line 23, ../sass/_figure.scss */
#tabs-3 #gallery1 ul figure img, #tabs-3 #gallery2 ul figure img {
  width: 95%;
}
/* line 29, ../sass/_figure.scss */
#tabs-3 #gallery1 ul figure figcaption, #tabs-3 #gallery2 ul figure figcaption {
  text-align: center;
}
/* line 31, ../sass/_figure.scss */
#tabs-3 #gallery1 ul figure figcaption #title, #tabs-3 #gallery2 ul figure figcaption #title {
  font-weight: 500;
}
/* line 35, ../sass/_figure.scss */
#tabs-3 #gallery1 ul figure figcaption #price, #tabs-3 #gallery2 ul figure figcaption #price {
  text-align: center;
}

/* line 103, ../sass/style.scss */
.container {
  max-width: 960px;
  width: 75%;
}
@media (max-width: 600px) {
  /* line 103, ../sass/style.scss */
  .container {
    width: 550px;
    width: 90%;
  }
}
@media (max-width: 400px) {
  /* line 103, ../sass/style.scss */
  .container {
    width: 350px;
    width: 95%;
  }
}
@media (max-width: 350px) {
  /* line 103, ../sass/style.scss */
  .container {
    width: 320px;
    width: 95%;
  }
}
@media (max-width: 320px) {
  /* line 103, ../sass/style.scss */
  .container {
    width: 310px;
    width: 95%;
  }
}
@media (max-width: 310px) {
  /* line 103, ../sass/style.scss */
  .container {
    width: 300px;
    width: 95%;
  }
}
@media (max-width: 300px) and (min-width: 250px) {
  /* line 103, ../sass/style.scss */
  .container {
    width: 250px;
    width: 95%;
  }
}
