#aboutMe {
   
       
    p + p {
        padding-bottom: 10px;
    }
     h2 {
        //position: relative;
         text-align: center;
         
    }
  
}

#tabs-4 {
      img {
        padding-bottom: 10px;
    }
   
}