#aboutMe {
    p + p {
        padding-bottom: 10px;
    }
     h2 {
         text-align: center;
    }
}

#tabs-4 {
      img {
        padding-bottom: 10px;
        @media (max-width:300px){
            width:90%;
        }
    }
    padding-bottom: 7px;
    #headerAbout {
        text-align: center;
    }
}