#tabs-3 {
    #gallery1 {
        @extend %gallery;
    }
    
    #gallery2 {
        @extend %gallery;
    }
}

%gallery {
    ul {
        width: 100%;
        @extend .center;
        li {
            padding: 6px;
            margin:6px;
        width: 95%;
        @extend .center;
    }
    figure {
        
        img {
            
            width:95%;
            //height:250px;
            @extend .center;
        }
        figcaption {
             text-align: center;
                #title {
                   
                    font-weight:500;
                }
                #price {
                    text-align: center;
                }
                #description {
                    
                }
        }
    }
    }
    
}

