header {
   width:100%;
   h1 {
      font-family: $font-family-header;
      font-size: 27px;
      padding-top: 5px;
      padding-bottom: 5px;
      @media (max-width: 850px){
            text-align: center;
          }
      @media (max-width: 900px){
            font-size: 26px;
          }
      @media (max-width: 330px){
         #name {
            display: none;
            width: 90%;
         }
          font-size: 22px;
      }
      &:before {
          @media (max-width: 330px){
            content: "C.W.";
            font-size: 22px;
          }
      }
      
   }
   li {
    
    &:first-child {
        padding-left: 12px;
    }
     padding-top: 10px;
     @extend .padding-bottom-10;
         float: left;
         text-align: center;
         @media (max-width:350px){
            display: block;
            float:none;
            width:100%;
           padding-bottom: 0;
         }
         
     }
     li + li {
         padding-left: 12px;
         @media (max-width:400px){
          padding-left: 6px;
         }
         @media (max-width:350px){
          padding-left: 12px;
         }
         
     }
     a {
          padding-bottom: 5px;
          padding-top: 5px;
          text-decoration: none;
		  @include border(grey, 2px, thin, solid);
      background-color: orange;
      padding: 5px;
      //border-radius: 2px;
       @media (max-width:350px) and  (min-width:200px){
            display: block;
            float:none;
            width:200px;
           // padding-bottom: 0;
            
         }
     }
     a:hover, a:active {
          color: red;
     }
    
     #header {
        float: left;
        @extend %removeFloat;
        order:1;
        flex-grow:2;
        align-self: center;
     }
     #nav {
        float: right;
        @extend %removeFloat;
        order:2;
         align-self: center;
         ul {
            
        @extend %flex-box;
		  flex-direction: column;
		  flex-wrap: wrap;
     @media (max-width:350px){
        width:100%;
        padding: 0;
        
     }
         }
        
     }
   
}
%removeFloat {
    @media (max-width:850px){
        float: none;
     }
}

 #flex {
        height:100%;
        display: flex;
     @extend %flex-box;
      @media (max-width:850px){
        flex-direction: column;
     flex-wrap: wrap;
      }
     }